
a{
	color: black;
}
a:hover{
	color: gray;
}
.titulo{

	font-size: 70px;
}

.equipos{

	width: 40px;
	height: 40px;
	background:blue;
}

.equipos img{

	background-size: contain;
}

h6{
	color: white;
}



#tabla{

	border-color: black;
}

.container{
	display: flex;
	height: 100%;
	width: 100%;
	
}
	
	

	.ladoizquierdo{
		flex:0 1 60%;
		display: flex;
		height: 100%;
		flex-wrap: wrap;
	}

		

		.resultados{
			flex: 1 1 100%;
			border: 2px inside black;
			height: 50%;
			display: flex;
			flex-wrap: wrap;

		}

		.resultados h6{
			color: black;
		}

		.anot{
			margin-left: 20px;
			margin-top: 10px;
		}
			.resultado{
				flex: 1 1 30%;
				height: 100%;
				border: 1px solid black;
				color: black;
				display: flex;
				margin-top: 30px;
				margin-left: 30px;
				margin-right: 5px;
			}

				.izq{
					flex : 1 1 40%;
					color: black;
					margin-left: 10px;
					margin-top: 10px;

				}

				.der{
					flex: 1 1 40%;
					margin-left: 10px;
					margin-top: 10px;
				}

		.noticias{
			flex: 0 1 100%;
			height: 60%;
			margin-top: 100px;
			display: flex;
			flex-wrap: wrap;
		}
			.noticia{
				flex: 0 1 100%;
				height: 80%;
				margin-top: 20px;
				
			}


	.ladoderecho{
		flex: 0 1 30%;
		display: flex;
		height: 100%;
		
		flex-wrap: wrap;
	}

		.puntos{
			flex: 0 1 100%;
			height: 60%
			

		}

		.goles{
			flex: 0 1 100%;
			height: 40%;
			
		}

			.goles table{
				width: 100%;
				height: 50%;
			}